/* -----------------
header section style
--------------------  */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header {
    background-color: #2D25A0;
    margin-bottom: 70px;
}

.top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 300px;
}

.title-name {
    margin: 180px 0 200px;
}

.title-name h1 {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
}

button {
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    border: none;
    padding: 10px 24px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.15);
}

button a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.fa-arrow-right {
    color: #FFFFFF;
    margin-left: 8px;
}

.top-banner {
    margin: 150px 0 150px;
    transition: 0.3s ease;
}

.top-banner img {
    width: 556px;
    cursor: pointer;
}

.top-banner:hover {
    transform: scale(1.2);
}


/* -------------------
player section
--------------------- */


.container {
    width: 1050px;
    margin: auto;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player{
    height: 474px;
    padding: 15px;
    box-shadow: 0 0 40px rgb(214, 210, 210);
}

.player img {
    width: 300px;
    height: 256px;
}

.player-name {
    font-size: 28px;
    color: #18191F;
    font-weight: 700;
    margin: 16px 15px 10px;

}

.player-info {
    font-size: 16px;
    color: #6C6C6C;
}


/* -----------------
highlights section
-------------------- */


.highlights {
    width: 1050px;
    margin: auto;
}
.all-highlights{
    display: flex;
    margin: 150px 0 150px;    
}
.copa-america {
    width: 466px;
    height: 309px;
    padding: 5px;
}
.copa-america h2{
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
}
.copa-america p{
    font-size: 16px;
    color: #6C6C6C;
}
.match{
    padding: 5px;
}
.match img{
    width: 567px;
    height: 427px;
}


/* -----------------
more news section
------------------- */

.more{
    width: 80%;
    margin: 0 12% 5%;
}
.more h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.more-news{
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.news{
    width: 400px;
    display: flex;
}
.news-pic img{
    height: 98px;
    width: 98px;
}
.headline p {
    font-size: 14px;
    color: #6C6C6C;
    margin: 0%;
    padding-left: 5px;
}
.headline h4{
    font-size: 16px;
    color: #313336;
    padding-left: 5px;
}



/* ---------------
partner section 
------------------ */



.fifa-partners{
    padding-left: 100px;    
    margin: 5% 12% 5%;
}
.fifa-partners h3{
    text-align: center;
    font-weight: 800;
    padding: 40px;
    color: #100881;
}
.partners{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 100px;
  
}
.partner{
    height: 200px;
    width: 200px;
}
.partner img{
    width: 200px;
}



/* ---------------
footer section 
-------------------*/


.footer-logo{
    text-align: center;
    margin: 0 0 20px;
}
.footer-logo img{
    width: 484px;
    height: 110px;
}
.fa-brands{
    color: #969BAB;
    padding: 2px;
}
.footer-logo small{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}



/* ----------------
Media Queries
------------------ */


/* Mobile Devices */

@media only screen and (max-width:688px) {

    /* heading part  */


    .header, .container, .highlights, .more, .fifa-partners{
        width: 100%;
    }
    .top-part{
        flex-direction: column;
        margin: 0 41px;
    }
    .title-name{
        margin: 112px 0 50px;
    }
    .title-name h1{
        font-size: 36px;
    }
    .top-banner{
        margin: 0 0 61px;
    }
    .top-banner img{
        width: 329px;
    }

    /* players part  */

    .players, .more-news{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 330px;
        margin-left: 25px;
        
    }


    /* highlights section */


    .all-highlights{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0 45px;
    }
    .copa-america{
        display: flex;
        flex-direction: column;
        width: 329px;
        height: 299px;
        margin-bottom: 40px;
    }
    .copa-america h2{
        font-size: 30px;
    }
    .match img{
        padding-top: 29px;
        width: 328px;
        height: 248px;
    }


    /* more news section */


    .more{
        margin: 0;
    }
    .more h2{
        font-size: 30px;

    }
    .more-news{
        align-items: center;
    }
    .news{
        width: 380px;
        margin-bottom: 5px;
    }


    /* partner section  */

    
    .fifa-partners{
        padding: 0;
        margin: 0;
    }
    .fifa-partners h3{
        font-size: 20px;
        text-align: center;

    }
    .partners{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 40px;
        
    }
    .partner img{
        height: 50px;
        width: 90px;
    }



    /* footer section  */


    .footer-logo img{
        width: 272px;
        height: 63px;
    }

}